/* Universal Selector */
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

/* Element Selectors select all of that element type */
body {
  background-color: lemonchiffon;
}

section {
  height: 200px;
  width: 300px;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#selector_types */
  background-color: red;
}

/* element element	div p	Selects all <p> elements inside <div> elements */
/* section p { */
p {
  font-size: 60px;
  line-height: 200px;
}

/* Class Selectors select all elements with that class */
/* element.class	p.intro	Selects all <p> elements with class="intro" */
/* section.box-blue { */
.box-blue {
  color: white;
  background-color: blue;
}

/* Id Selectors are unique a unique id to identify an element */
#box-orange {
  color: blue;
  background-color: orange;
}
