section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  margin: 24px;
  /* TODO: Add a padding property */
  padding: 16px;
  /* TODO: Add a border property */
  border: 8px solid rgb(33, 33, 194)
}
